<!DOCTYPE html>
<html lang="en" ng-app="eTurnApp">

<head>
    <title>A Proper Angular App</title>
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <base href="/">
    <!-- <header>
        <div class="header-area">
            <div class="main-header">
                <div class="header-bottom header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <ng-view class="view"></ng-view>
    </main>
    <footer class="footer">
        All Rights Reserved.
    </footer> -->
    <div class="grid-container">
        <header>
            <div class="header">
                <h1>Looks</h1>
            </div>
        </header>
        <main class="main">
            <ng-view class="view"></ng-view>
        </main>
        <footer class="footer">
            All Rights Reserved.
        </footer>
    </div>
</body>
<script src="js/scripts.js"></script>

</html>